{% extends 'base.html' %}

{% block content %}

<div class="container-md text-white text-center">

    <form action="/" method="post">
        <div class="row mb-3">
            <label for="videosUrl" class="col-sm-4 col-form-label">Videos Url:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="videosUrl" name="videosUrl">
            </div>
        </div>
        <div class="row mb-3">
            <label for="videoCount" class="col-sm-4 col-form-label">No. of videos to scrape (default & max is 50):</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="videoCount" name="videoCount">
            </div>
        </div>
        <div class="row mb-3">
            <label for="upload" class="col-sm-4 col-form-label">Upload to S3: (takes very long time to fetch stream data, causes SESSION TIMEOUT ERROR. Try with 1 video)</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-check-input mt-4" value="True" id="upload" name="upload">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold mt-3">Submit</button>
    </form>
</div>

{% endblock %}